# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Vite specific
*.jsx.js
*.tsx.ts

# Testing
/coverage

# Production
/build

# Optional: If you use pnpm or yarn
yarn.lock
package-lock.json
pnpm-lock.yaml